<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foro perfil acercade/perfilpic.jpg" alt="Foto Perfil Matias Damiani" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2- col-md-2 col-lg-2">
        <p id="nombre">Damiani Matias Ezequiel</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8- col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p><strong>Estudiante ,Trabajador y Católico </strong> </p>
            <p><strong>Si alguien lo hizo yo tambien</strong></p>  
            <p><strong>Perseverante y decidido</strong></p>
            <p><strong>Hincha del Club de Barrio Mas Grande Del mundo ,Lanus.</strong></p>   
            
        </span>
    </div>


</div>


