<div class="row">
        <h1>Hard & Soft Skills</h1>
        <div class ="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                        [percent]="65"
                        [radius]="100"
                        [imageSrc]="'../../../assets/iconos/html.png'"
                        [showImage]="true"
                        [imageWidth]='76'
                        [imageHeight]='76'
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#ff6600'"
                        [innerStrokeColor]="'orange'"
                        [animation]="true"
                        [animationDuration]="1000" 

                        

                
                
        
                ></circle-progress>
        </div> 
        <div class ="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                        [percent]="65"
                        [radius]="100"
                        [imageSrc]="'../../../assets/iconos/CSS.png'"
                        [showImage]="true"
                        [imageWidth]='76'
                        [imageHeight]='76'
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#08fdd4'"
                        [innerStrokeColor]="'lightblue'"
                        [animation]="true"
                        [animationDuration]="1000" 

                        

                
                
        
                ></circle-progress>
        </div>
        <div class ="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                        [percent]="60"
                        [radius]="100"
                        [imageSrc]="'../../../assets/iconos/js.png'"
                        [showImage]="true"
                        [imageWidth]='80'
                        [imageHeight]='80'
                        [showUnits]="false"                       
                        
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'yellow'"
                        [innerStrokeColor]="'#FDB900'"
                        [animation]="true"
                        [animationDuration]="1000" 

                        

                
                
        
                ></circle-progress>
        </div>
        <div class ="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                        [percent]="90"
                        [radius]="100"
                        [imageSrc]="'../../../assets/iconos/git.png'"
                        [showImage]="true"
                        [imageWidth]='76'
                        [imageHeight]='76'
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'violet'"
                        [innerStrokeColor]="'#8634b2'"
                        [animation]="true"
                        [animationDuration]="1000" 

                        

                
                
        
                ></circle-progress>
        </div>
        <div class ="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                        [percent]="100"
                        [radius]="100"
                        [imageSrc]="'../../../assets/iconos/grupal.png'"
                        [showImage]="true"
                        [imageWidth]='76'
                        [imageHeight]='76'
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'gray'"
                        [innerStrokeColor]="'black'"
                        [animation]="true"
                        [animationDuration]="1000" 

                        

                
                
        
                ></circle-progress>
        </div>
        <div class ="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                        [percent]="60"
                        [radius]="100"
                        [imageSrc]="'../../../assets/iconos/eng.png'"
                        [showImage]="true"
                        [imageWidth]='76'
                        [imageHeight]='76'
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#a4b587'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="1000" 

                        

                
                
        
                ></circle-progress>
        </div>




