<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Representaciones Al.Sa.Ga SA. SRL </h1><h3> (Sep.2017-Presente)</h3><h4>Administracion</h4></li>               
                <p>Atención al público, ventas (manejo de fondos, facturación, cobranzas), compras(recibos , órdenes de pago, recepción de productos,etc), control de stock(entrada y salida de los productos ,almacenamientos ,controles mensuales,etc),Logística,manejo de la correspondencia de la empresa (mails y física), tareas de mantenimiento de las computadoras y equipos de la empresa. Uso de diversas planillas de cálculo para el PyL del negocio, solicitados por el contador de la empresa, entre otras funciones             
                </p>   
        </ul>
        <ul>
            <li>
                <h1>Il Gatto Tratorias </h1><h3>(Nov.2016 - Sept.2017)</h3><h4>Gerente</h4></li>               
                <p>Encargado del Restaurante, Cobranzas,Compras(Materias primas , Uniformes , productos limpieza ,etc)Tareas de Recursos Humanos ( Horarios , presentismos, sanciones ,etc), Servicio de Atencion al publico (Recepción a clientes, gestionar reservas, etc ) Recepción de mercadería e insumos, personal a cargo, control de seguridad de la comida, comunicación con proveedores y oficinas de la empresa para realizara diversas tareas (mejoras , mantenimiento, promociones ,etc), control de inventario (uniformes, materias primas, etc.),entre otras. 15 personas a cargo           
                </p>   
        </ul>
        <ul>
            <li>
                <h1>Arcos Dorados SA </h1><h3>(Junio.2013 - Nov.2016) </h3><h4>Gerente de Turno</h4></li>               
                <p>Apertura y cierre del local (llave del negocio) Manejo de Caja fuerte y caja chica. Manejo de sistema de Compras (uniformes, insumos operativos, alimentos)y correspondencia de la sucursal. Manejo del sistema de SHRMS (Referido a RR. HH donde se realizan control de fichadas ,sanciones ,licencias ,etc) Sistema SMS. (administración en general (compras/ventas , gastos , Ingreso de alivios, cierre de turnos de caja, notas de crédito, Arqueos ,horarios ,etc) Encargado de supervisar la recepción de productos. Conocimiento y manejo de prácticas de seguridad en la comida, y seguridad de los empleados. Responsable de dirigir y ejecutar el programa de mantenimiento Planificado de equipos. 80 personas a cargo y 4 encargados de sector(áreas de servicio ,cocina , etc). Maneja un presupuesto anual propio. tanto en el área de seguridad e higiene y entrenamiento) 84 personas a cargo             
                </p>   
        </ul>
        <ul>
            <li>
                <h1>Arcos Dorados S.A</h1><h3> (Junio-2011-Junio-2013) </h3><h4>Encargado De  Área</h4></li>               
                <p> Atención al público Control del inventario del Area correspondiente ( cocina , servicio demostrador ,etc) mediante conteos diarios, quincenales y mensuales, atención al público, tratar con los clientes, buscar la satisfacción de los mismos y solucionar cualquier inconveniente que pueda eventualmente aparecer, seguridad e higiene del local (calendarios de limpieza del local y mantenimiento de equipos,elementos de protección personal , cambios de matafuegos,control de plagas, etc.) 20 personas a cargo.                 
                </p>   
        </ul>
    
    
    
    
    
    
    
    
    
    
    
    
    
    



    
    </div>
</div>
