<div class="row">
    <h1>Educación </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <ul>
            <li> <h1>Full Stack Developer Jr. </h1><h3> (Feb.2022-Presente)</h3><h4>Argentina Programa,Yo programo</h4></li>
            <p>En curso</p>
        </ul>  

        <ul>
            <li>
                <h1>Tecnicatura Superior En Análisis De Sistemas </h1><h3> (Mar.2022-Presente)</h3><h4>Instituto de Formacion Tecnica Superior N°12</h4></li>               
                <p>En curso         
                </p>   
        </ul>
        <ul>
            <li>
                <h1>Auxiliar de Recursos Humanos </h1><h3>(Agos.2020 - Oct.2020)</h3><h4>ICAM</h4></li>               
                <p>Finalizado Completo  
                </p>   
        </ul>
        <ul>
            <li>
                <h1>Licenciatura en Gestion Ambiental Urbana</h1><h3>(Mar.2010 -Nov.2012 ) </h3><h4>Universidad Nacional de Lanus</h4></li>               
                <p>Incompleto             
                </p>   
        </ul>
        <ul>
            <li>
                <h1>Bachiller en Ciencias Naturales</h1><h3> (Mar.2006 -Dic 2010) </h3><h4>E.E.M.N°2 "Francisco Ramirez"</h4></li>               
                <p> Finalizado Completo                
                </p>   
        </ul>
     
    </div>
</div>

